#data-grid-demo {
  min-height: 500px;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.layerpop {
  display: none;
  z-index: 1000;
  border: 2px solid #ccc;
  background: #fff;
  cursor: move; }

  
.sidebar {
  height: 100%;
  /* width: 13%; */
  width:0;
  position: fixed;
  z-index: 1;
  /* top: 20px; */
  top:0;
  /* left: 10px; */
  left: 0;
  background: rgb(0, 0, 0);
  overflow-x: hidden;
  transition: s;
  /* padding-top: 8px; */
  padding-top: 60px;
}

/* Sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17px;
  color: #2196F3;
  display: block;
  transition: s;
}

/* Active/current link */
.sidebar a.active {
  background-color: #3c5c60;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  /* background-color: white; */
  color: #00ffe5;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.gridContainer {
  margin-left: 250px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 13%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.gridContainer {margin-left: 0;
  width: 87%;
  float: right;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


/* multi */

#grid {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.selected-data {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
}

.selected-data .caption {
  font-weight: bold;
  font-size: 115%;
  margin-right: 4px;
}

/* filter pannel */
#gridContainer {
  height: 440px;
}

.options {
  padding: 20px;
  margin-top: 20px;
  background-color: rgba(191, 191, 191, 0.15);
}

.caption {
  font-size: 18px;
  font-weight: 500;
}

.option {
  margin-top: 10px;
}

.option > span {
  margin-right: 10px;
}

.option > .dx-selectbox {
  display: inline-block;
  vertical-align: middle;
}


/* button */
#form {
  max-width: 600px;
  margin: auto;
}

#button {
  margin-top: 50px;
  margin-right: 20px;
  float: right;
}