<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.7/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.7/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/21.2.7/js/dx.all.js"></script>
    <script src="https://unpkg.com/devextreme-aspnet-data@2.8.6/js/dx.aspnet.data.js"></script>
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/ui.css">
    <script src="../static/js/login.js"></script>
</head>

<body>
    <div id="wrap">
        <form class="login_form">
            <h1>로그인</h1>
            <input id="userId" type="text" placeholder="아이디를 입력하세요" value=""><br>
            <input id="userPassword" type="password" placeholder="비밀번호를 입력하세요" value=""><br>
            <input id="btn" type="submit" value="로그인"></button>
        </form>
    </div>



</body>

</html>