<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>TestDefectList</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.7/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.7/css/dx.light.css" />
    <script src="https://cdn3.devexpress.com/jslib/21.2.7/js/dx.all.js"></script>
    <script src="https://unpkg.com/devextreme-aspnet-data@2.8.6/js/dx.aspnet.data.js"></script>
    <link rel="stylesheet" href="../static/css/style.css"> </linkrel>
    <script src="../static/js/testDefectList.js"></script>
  </head>
  <body class="dx-viewport">

    
    <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

        <a onclick="location.href='TestExecutionList.html'">시나리오 테스트 목록</a>
        <a class="active" onclick="location.href='TestDefectList.html'">결함 목록</a>
        <a >대쉬보드</a>
        <a >시나리오 테스트 보고서</a>
        <a onclick="location.href='UserPage.html'">사용자</a>
        <a onclick="location.href='CommonCode.html'" >공통코드</a>
    </div>
    <div id="main" class="demo-container">
      <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>
      <div id="buttonBox" style="display:flex">
        <div id="buttonContainer"></div>
        <div id="defectCheck"></div>
        <div id="createInfo"></div>
        <div id="defectEditPopup"></div>
        <div id="deleteButton"></div>
      </div>

      <div id="gridContainer"></div>
      <div id="popup"></div>
      <div id="popup2"></div>
      <div id="popup3"></div>
      <div id="popup4"></div>

  
      <div id="executionInfo" >
        <p class="executionId"></p>
        <p class="testType"></p>
        <p class="scenarioType"></p>
        <p class="scenarioCategory"></p>
        <p class="version"></p>
        <p class="testScenarioId"></p>
        <p class="testScenarioName"></p>
        <p class="testCaseId"></p>
        <p class="testCaseName"></p>

        <p class="defectId"></p>
        <p class="defectCategory"></p>
        <p class="defectContents"></p>
        <p class="createdBy"></p>
        <p class="createAt"></p>
        <p class="defectTeam"></p>
        <p class="defectCharger"></p>

        <p class="defectStartDueDate"></p>
        <p class="defectEndDueDate"></p>

        <p class="defectStatus"></p>
        <p class="defectDate"></p>
        <p class="defectActionYn"></p>
        <p class="defectActionContents"></p>
        <p class="defectCheck"></p>
        <p class="defectCheckDate"></p>


        <p class="executionDate"></p>
        <p class="execStatus"></p>
        <p class="execResult"></p>
        
      </div>

    </div>

    <script>
      function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }

      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
      }
    </script>
  </body>
</html>
